.hobbies{
    margin-top: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hobbies__title{
    font-size: 2.5em;
    display: flex;
    flex-wrap:wrap;
}
.hobbies__line{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 10px;

}
.hobbies__box{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.hobbies__img{

}
.hobbies__img--tamaño{
    width: 30px;
}


.hobbies__name{
    font-size: 1em;
}
/* tablet */
@media   (min-width: 600px) {
    .hobbies__title{
        font-size: 3.5em;
    }
    .hobbies__box{
        width: 200px;
        height: 200px; 
    }
    .hobbies__img--tamaño{
        width: 100px;
    }
    .hobbies__name{
        font-size: 2em;
    }
}

/* pc */
@media (min-width: 1024px) {
   
    .hobbies__line{
        flex-wrap:nowrap;
    }
}